

.contact-me-content {
    display: flex; /* Enable flexbox */
    flex-direction: row; /* Align child elements (icon container and form) horizontally */
    align-items: center; /* Vertically center the content (icons and form) */
    justify-content: center;

  }

  
